body {
  margin: 0;
  font-family: Arial;
  background-color: #0f0f10;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 350px;
  padding: 30px;
  background-color: #121212;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h2 {
  color: white;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #333;
  background-color: #1a1a1a;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #1877f2;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.forgot {
  color: #aaa;
  margin-top: 15px;
  text-align: center;
}